extends layout
block content

  .container
    .row
      .hero-unit
        form
          input#datepicker.span3(type='text', placeholder='Date')
          br
          select#country.span3(name='country')
            option(value='Country') Country
            option(value='Canada') Canada
            option(value='USA') USA
          br
          select#state.span3
            option(value='State') State
          br
          input#quantity.span2(type='text', placeholder='Qty')
          br
          select#units.span2
            option(value='Units') Units
          br
          a#submit-fuel.btn.btn-success.btn-large.answer Submit

      .well
        table.table.table-striped
          thead
            tr
              th Date
              th Country
              th Province/State
              th Qty
              th Units
          tbody#
            - if (fuel_receipts !== undefined && fuel_receipts.length)
              - fuel_receipts = fuel_receipts.reverse()
              - each receipt in fuel_receipts
                tr
                  - var date = new Date(receipt.value.date).toLocaleDateString()
                  td= date
                  td= receipt.value.country
                  td= receipt.value.state
                  td= receipt.value.quantity
                  td= receipt.value.units