extends layout
block content

  .container
    .row
      .hero-unit
        form
          input#datepicker(type='text', placeholder='Date')
          br
          select#country(name='country')
            option(value='Country') Country
            option(value='Canada') Canada
            option(value='USA') USA
          br
          select#state.disabled
            option(value='State') State
      .well
        table.table.table-striped
          thead
            tr
              th Date
              th Country
              th Province/State
              th Qty
              th Points
          tbody
            - each receipt in fuel_receipts
              tr
                td= receipt.date
                td= receipt.country
                td= receipt.state
                td= receipt.quantity
                td= receipt.points